@model EditProfileViewModel

<div>
    <h2 class="textfont">@Model.Name's settings</h2>
    <form asp-controller="Profile" asp-action="EditProfile" method="post" asp-route-userId="@ViewBag.UserId" enctype="multipart/form-data">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <h5><label class="card-title" asp-for="@Model.Name"></label></h5>
                            <input class="card-text" asp-for="@Model.Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div>
                            <h5><label class="card-title" asp-for="@Model.City"></label></h5>
                            <input class="card-text" asp-for="@Model.City" />
                            <span asp-validation-for="@Model.City" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="@Model.File"></label>
                            <input type="file" asp-for="@Model.File" multiple />
                        </div>
                        <button class="btn btn-outline-info" type="submit">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>