@model PetBuddy.ViewModels.HomeViewModel

<div>
    <h4>Find the best person for your darling:</h4>
    <table>
        <form asp-controller="Home" asp-action="Home" method="get">
            <div class="row">
                <tr>
                    <td>
                        <div class="form-group col-md-2">
                            <div>
                                <label asp-for="@Model.QueryParams.City">City</label>
                                <select asp-for="@Model.QueryParams.City">
                                    @foreach (var city in Model.Places)
                                    {
                                        <options>@city.City</options>
                                    }
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group col-md-2">
                            <div>
                                <label asp-for="@Model.QueryParams.Price">Price/day/animal</label>
                                <input asp-for="@Model.QueryParams.Price" />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group col-md-4">

                            @*         <div> *@
                            @*             <label asp-for="Type">Your pet's type</label> *@
                            @*             <select asp-for=""> *@
                            @*                 @foreach (var type in Model.Places) *@
                            @*                 { *@
                            @*                     <options value="@type.">Ide jon majd az animal type!!</options> *@
                            @*                 } *@
                            @*             </select> *@
                            @*         </div> *@
                        </div>
                    </td>
            </div>
            <td>
                <button type="submit">Search</button>
            </td> 
            </tr>
        </form>
    </table>
    <div class="row">
        @if (Model != null)
        {
            @foreach (var place in Model.Places)
            {
                <div class="col-md-6">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="img-square-wrapper">
                                <img class="thumb" src="~/images/default_pet.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">@*@Html.DisplayFor(modelItem => place.UserId + "'s place")*@</h4>
                                <p class="card-text">@Html.DisplayFor(modelItem => place.City)</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        @*@foreach (var animaltype in place.Animals)
                                            {<p class="card-text">@animaltype</p>
                                            }*@
                                    </small>
                                </p>
                                @if (place.Price == 0)
                                {
                                    <p class="card-text"><small class="text-muted"><i>Unknown</i></small></p>
                                }
                                else
                                {
                                    <p class="card-text">@Html.DisplayFor(modelItem => place.Price)<span>$</span></p>
                                }
                                <div class="menu-button">
                                    <form asp-controller="Place" asp-action="PlaceInfo" asp-route-placeId="@place.PlaceId" method="get">
                                        <button type="submit" class="btn btn-success">See More</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>