@model PetBuddy.ViewModels.HomeViewModel

    <div>
        <h4>Find the best person for your darling:</h4>
        <table>
            <form asp-controller="Home" asp-action="Home" method="get">
                <div class="row">
                <tr>
                    <td>
                        <div class="form-group col-md-2">
                            <div>
                                <label asp-for="@Model.QueryParams.City">City</label>
                                <input asp-for="@Model.QueryParams.City" />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group col-md-2">
                            <div>
                                <label asp-for="@Model.QueryParams.Price">Price/day/animal</label>
                                <input asp-for="@Model.QueryParams.Price" />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group col-md-4">
                            <label asp-for="@Model.QueryParams.PetType"></label>
                            <select type="text" asp-for="@Model.QueryParams.PetType">
                                <option value="dog">dog</option>
                                <option value="cat">cat</option>
                                <option value="rabbit">rabbit</option>
                                <option value="snake">snake</option>
                                <option value="ferret">ferret</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-outline-info">Search</button>
                    </td>
                </tr>
                </div>
            </form>
        </table>
        <div class="row">
            @if (Model != null)
            {
                @foreach (var place in Model.Places)
                {
                    <div class="col-md-6">
                        <div class="card main-place-card">
                            <div class="row no-gutters">
                                <div class="img-square-wrapper">
                                    @if (place.PlaceUri == null)
                                    {
                                        <img class="thumb" src="~/images/default_pet.jpg" alt="Card image cap">
                                    }
                                    else
                                    {
                                        <img class="thumb" src="@place.PlaceUri" alt="Card image cap">
                                    }
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">@*@Html.DisplayFor(modelItem => place.UserId + "'s place")*@</h4>
                                    <p class="card-text">@Html.DisplayFor(modelItem => place.City)</p>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            @if (place.Pets != null)
                                            {
                                                @foreach (var pet in place.Pets)
                                                {
                                                    <p class="card-text">@pet.PetType</p>
                                                }
                                            }
                                        </small>
                                    </p>
                                    @if (place.Price == 0)
                                    {
                                        <p class="card-text"><small class="text-muted"><i>Unknown</i></small></p>
                                    }
                                    else
                                    {
                                        <p class="card-text">@Html.DisplayFor(modelItem => place.Price)<span>$</span></p>
                                    }
                                    <div class="menu-button">
                                        <form asp-controller="Place" asp-action="PlaceInfo" asp-route-placeId="@place.PlaceId" method="get">
                                            <button type="submit" class="btn btn-outline-success">See More</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            }
        </div>
    </div>