@model PetBuddy.ViewModels.HomeViewModel

<div>
    
    <form asp-controller="Home" asp-action="Home" method="get">
        <h4>Find the best person for your darling:</h4>
        <div class="row">
            <div class="form-group col-md-2">
                <div>
                    <label asp-for="@Model.QueryParams.City">City</label>
                    <input asp-for="@Model.QueryParams.City" />
                </div>
            </div>
            <div class="form-group col-md-4"> 
                 <div>
                     <label asp-for="@Model.QueryParams.PetType"></label>
                     <select type="text" asp-for="@Model.QueryParams.PetType">
                         <option value="dog">dog</option>
                         <option value="cat">cat</option>
                         <option value="rabbit">rabbit</option>
                         <option value="snake">snake</option>
                         <option value="ferret">ferret</option>
                     </select>
                     </div>
            </div> 
            <div class="form-group col-md-2">
                <div>
                    <label asp-for="@Model.QueryParams.Price">Price/day/animal</label>
                    <input asp-for="@Model.QueryParams.Price"/>
                </div>
            </div>
            </div>
            <button type="submit">Search</button>
    </form>
    @if (Model != null)
    {
        @foreach (var place in Model.Places)
        {
            <div class="card mb-10 hotel-card">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">
                                @Html.DisplayFor(modelItem => place.Name)
                            </h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => place.City)</p>
                            @if (place.Pets != null)
                            {
                                @foreach (var pet in place.Pets)
                                {
                                    <p class="card-text">@pet.PetType</p>
                                }
                            }
                            @if (place.Price == 0)
                            {
                                <p class="card-text"><small class="text-muted"><i>Unknown</i></small></p>
                            }
                            else
                            {
                                <p class="card-text">@Html.DisplayFor(modelItem => place.Price)<span>$</span></p>
                            }
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-body">
                            <form asp-controller="" asp-action="" method="get">
                                <button type="submit" class="btn btn-primary">See more</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>